<%= form_with url: "/web/v1/#{url}/", method: :post, class: 'mt-8 grid grid-cols-6 gap-6' do |form| %>

  <div class="col-span-6">
    <label for="Email" class="block text-sm font-medium text-gray-700">
      Email
    </label>

    <%= form.text_field :email, class: 'p-3 mt-1 w-full rounded-md
      border border-gray-200 bg-white text-sm text-gray-700 shadow-sm'%>
  </div>

  <div class="col-span-6">
    <label
      for="Password"
      class="block text-sm font-medium text-gray-700"
    >
      Password
    </label>

    <%= form.password_field :password, class: 'p-3 mt-1 w-full rounded-md border
      border-gray-200 bg-white text-sm text-gray-700 shadow-sm'%>
  </div>

  <% if action_name != 'new' %>
    <div class="col-span-6">
      <label
        for="PasswordConfirmation"
        class="block text-sm font-medium text-gray-700"
      >
        Password Confirmation
      </label>

      <%= form.password_field :password_confirmation,
          class: 'p-3 mt-1 w-full rounded-md border border-gray-200 bg-white text-sm text-gray-700 shadow-sm'%>
    </div>


    <div class="col-span-6">
      <label for="MarketingAccept" class="flex gap-4">
        <%= form.check_box :accept_newsletter %>
        <span class="text-sm text-gray-700">
          I want to receive emails about events, product updates and
          company announcements.
        </span>
      </label>
    </div>

    <div class="col-span-6">
      <p class="text-sm text-gray-500">
        By creating an account, you agree to our
        <%= link_to 'terms and conditions', nil, class: 'text-gray-700 underline' %>
        and
        <%= link_to 'Privacy Policy', nil, class: 'text-gray-700 underline' %>
      </p>
    </div>

  <% end %>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <% if action_name != 'new' %>
        <button
          class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
        >
          Create an account
        </button>


        <p class="mt-4 text-sm text-gray-500 sm:mt-0">
          Already have an account?
          <a href="#" class="text-gray-700 underline">Log in</a>.
        </p>
      <%else%>
        <button
          class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
        >
          Log In
        </button>

        <p class="mt-4 text-sm text-gray-500 sm:mt-0">
          Dont have an account?
          <%= link_to 'Sign Up', web_v1_register_path, class: 'text-gray-700 underline' %>
        </p>
      <% end %>

    </div>
<% end %>
