<%= render partial: 'shared/navbar' %>

<h1 class="text-2xl text-blue-400 m-20">Bookings</h1>

<div class="flex flex-1 m-20 justify-center content-center">

  <div class="overflow-hidden overflow-x-auto w-full rounded-lg border border-gray-200">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
      <thead class="bg-gray-100">
        <tr>
          <th class="sticky inset-y-0 left-0 bg-gray-100 px-4 py-2 text-left">
            <label class="sr-only" for="SelectAll">Select All</label>

            <input
              class="h-5 w-5 rounded border-gray-200"
              type="checkbox"
              id="SelectAll"
            />
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
            <div class="flex items-center gap-2">
              ID

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 text-gray-700"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
            <div class="flex items-center gap-2">
              Name

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 text-gray-700"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
            <div class="flex items-center gap-2">
              Booking at

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 text-gray-700"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
            <div class="flex items-center gap-2">
              Amount

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 text-gray-700"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
            Status
          </th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
      <% @bookings.each do |booking| %>
        <tr>
          <td class="sticky inset-y-0 left-0 bg-white px-4 py-2">
            <label class="sr-only" for="Row1">Row 1</label>

            <input
              class="h-5 w-5 rounded border-gray-200"
              type="checkbox"
              id="Row1"
            />
          </td>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            #<%= booking.id %>
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            <%= booking.service&.name %>
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= booking.booking_at.strftime('%h:%M:%Y')%></td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">$<%= booking.service&.selling_price %></td>
          <td class="whitespace-nowrap px-4 py-2">
            <strong
              class="rounded bg-red-100 px-3 py-1.5 text-xs font-medium text-red-700"
            >
              <%= booking&.state %>
            </strong>
          </td>
          <td class="whitespace-nowrap px-4 py-2">
            <%= link_to 'View', web_v1_service_path(booking.service.id), class: 'text-sm font-medium text-blue-600 hover:underline' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
  <%# pagination %>
  <div class="flex flex-1 justify-center">
    <%= paginate @bookings %>
  </div>
<%= render partial: 'shared/footer' %>
